body{
    margin: 0 auto;
    font-family: 'Arial (Hebrew)', Arial;
    direction:rtl;
    text-align:right;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


header {
    height: 105px;
    background: linear-gradient(to bottom, rgb(144,144,144) 90%, rgb(170, 170, 170));
  }

nav{
    position: relative;
}

#f1{
    direction:ltr;
    text-align:left;  
    position: absolute;
    top:10px;
    left:0; 
}


#f1>*{
    display: inline-block;
} 



#aform{
    width: 20%;
    float:left;
}

#pazsearch{
    float:right;
    width: 88%;
}



footer{
    position:fixed;
    bottom:0;
    width: 100%;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(144,144,144) 10% );
    line-height: 38px;
    margin:0;

}

.page{
    width: 900px;
    margin: 0 auto;
 }
 




#arangmentlink{
    color:red !important;
}


  nav {
    font-family:  'Arial (Hebrew)', Arial;
    font-size: 15px;
  }
  
  nav > ul {
    list-style: none;
    padding: 0;
    margin:0;
    padding-right: 10px;
  }
  
  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li:last-child {
    border-left: none;
  }

  nav>ul>li>a, header>nav>a, header>nav>form>a{
    text-decoration: none;
} 
nav>ul>li>a{
      color:white;
      font-size: 15px;
      font-weight: 600;

  } 

  nav > ul > li > a { 
    
    text-decoration: none;
    display: block; 
    padding:9px;
    
  }
   .dropdown-content > a { 
    
    text-decoration: none;
    color:white;
    font-weight: 600;
    display: block;
    padding: 5px;
  }
            
  .dropdown {
    position: relative;
  }
  
  .dropdown:hover > .dropdown-content {
    display: block;
  }
  
  .dropdown > .dropdown-content {
    position: absolute;
    top: 100%;
    background: linear-gradient(to bottom, rgb(170, 170, 170), rgb(144,144,144) 70% );
    display: none;        
  }

  nav > ul > li > a:hover, .dropdown-content > a:hover, .dropdown:hover > a, header>nav>form>a:hover {
    color: #005CA0;
    text-decoration: underline;
  }
  .dropdown-content > a:hover{
    background: #BCBCBC ;
  }

  #pazlogo{
      position: relative;
      top:35px;
  }
 
    .separator>span{
        color: white;
    }

    .separator{
        color: white;
    }

    nav>ul>li>span{
        color: #F8F8F8;;  
    }


    #footerInternal>ul>li>a{
        font-weight: normal;
        color:white;
        text-decoration: none;
        font-size: 14px;
    
    }

    
    #footerInternal>ul{
        list-style: none;
        margin:0;
        padding:0;
    }
    #footerInternal>ul>li{
        display: inline-block;
    }
    #footerInternal>ul>li>a{
        /* display: block; */
        padding-left:2px;
    }

    #footerInternal>ul>li>a:hover, arangmentlink:hover{
        color: #005CA0 !important;
        text-decoration: underline;
    }

    #footerInternal>ul>li>a>img{
        position: relative;
        top:4px;
    }

        
    #sec1>div{
        float:right;
        width: 33%;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 12px;
        z-index: -1;
        
    }
  

#sec1>div>img{
    border-bottom-right-radius: 25px;
    
}
#d1{
    position:relative;

}
#d2{
    position:relative;

}
#d3{
    position:relative;

}
.int-d{
    box-sizing: border-box;
    direction:rtl;
    text-align:right;
    position:absolute;
    bottom:8px;
    left: 38px;
    right:8px;
    background: rgb(140, 140, 140, 0.8);
    font-size: 13px;
    border-bottom-right-radius: 25px;
    color:white;
    width: 248px;
    height: 97px;
    padding: 10px;
}
.int-d>h3{
    font-size:14px;
    margin:0;
}
.int-d>a{
    text-align:left;
    color:white;
    float:left;
    position:relative;
    bottom: 7px;
}    
.int-d>p{
    margin:0;
    height: 52;
}    
.int-d>a>span{
    font-size: 13px;
    text-decoration: underline;

    }
.int-d>a>img{  
    margin:0;
    padding-top:4px;
    padding-right:5px;
}



#sec2>div{
    float:right;
    width: 33%;
    /* height: 212px; */

    }

#sec2>div>div{

    background-image: url("./images/small_cube_bg.png");  
    background-repeat: no-repeat;  
    /* text-align: center; */
    height: 218px;
  
}

  
#sec2>div>div>p{
    text-align: right;

}



.banner{
    padding: 0 24px;
    text-align: right;

}
.banner>h3{
    font-size: 14px;
    padding-top: 12px;
}

#d4>div>img, #d5>div>img {
    padding-top: 6px;

}

.link {
    padding-top: 12px;
    direction:ltr;
	text-align:left;   
}


.d52>span{
    font-size: 13px;
    color:black;
    text-decoration: underline;
    padding: 3px;

    }
    

#d61{
float:left;
}
#d62{
    float:right;
    
    padding-right:5px;
    margin-top:6px;
}


#d62>a{
    display:block;
    font-size: 13px;

}

#d62>a>span{
margin:0;
padding:0;
color:black;
float:right;
text-decoration: underline;
padding: 3px;
}

#d62>a>img{
    float:left;
    margin:0;
    padding-top:6px;
    padding-right:5px;

}


#section1{
    padding-top:32px;
    z-index: -1;
}

#section1>.right{
    margin:0;
    float:right;
    margin-left:22px;
    width: 144px;
}


.cnt-middle{
    display:inline-block;
}


.right>ul{
    /* list-style-type: arrow; */
    background-image: url("./images/side_menu_sprite.png");  
    background-repeat: no-repeat; 
    list-style: none;
    margin:0;

}

.right>ul>li>a{
    display:block;
    overflow: hidden;
    /* padding-right: 12px; */
    line-height: 32px;
    text-decoration: none;
    text-align: right;

    /* width: 122x;
    height: 36px; */
    }

.right>ul>li>a>span{
    font-size: 13px;
    color:#5c5c5c;


}

#contact1>div{
    float:right;
    z-index: -1;
}

#rdown{
    min-width: 144px;
    height: 200px;
    margin-left:22px;

    display: block;

}
   
#middle{
    width: 420px;
    margin-left: 20px; 
}

#divForm{
    background-image: url("./images/contact_form_bg.png");  
    background-repeat: no-repeat;  
    box-sizing: border-box;
    width: 385px;
    padding-right:18px;
    padding-left: 18px;
    padding-top: 12px;
    padding-bottom: 12px;

    margin-left:24px;
}

#ins1{
margin-top: 4px;
margin-bottom: 2px;
}
#ins2{
    margin: 0;
    padding: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row > label {
    float: right;
    width: 30%;
  }
  
  .row {
    margin: 10px;
  }
  
  .row > input {
    float: right;
    width: 50%;
  }
  
#comments{
    width: 263px;
    height: 100px;
    resize: none;
}

#t1, #as1{
    font-size: 12px;
    color:#5c5c5c;
    text-decoration: none;

}


#title>h1, #f2>h2{
    font-size: 15px;
    margin:0;

}

#f2{
    font-size: 12px;

}

#bu{
    font-size: 14px;
    color:white;
    background-color: navy;
}

#bu:hover{
    color:black;
    background-color: orange;
}

.left {
    background-image: url("./images/small_cube_bg.png");  
    background-repeat: no-repeat;  
    font-size: 13px;
    padding-right:22px;
    padding-left: 22px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 292px;
    box-sizing: border-box;


}

.left>h3{
    /* margin-top:20px; */
    margin:0;
    margin-bottom: 7px;
    color: rgb(0, 92, 160);


}

.left>p{
    margin:0;
}


.divSeparator{
    min-width: 292px;
    min-height: 20px;
    display: block;
}
.divSeparator:first-child{
    min-height: 32px;

}
